@import './bootstrap-overwrite.scss';
html {
        background: url(images/Home.jpeg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


// after code ise done import styles.......other nonbootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';